/* 
Using desecent selector to selct li elements inside the nav 
Demonstrate descendant selector
*/
nav ul li {
  background-color: blueviolet;
}
/* Direct Child selector */
/* Selects the child element the main difference is the direct child selector will only select an 
element that is the direct child of the first parent selector. */
/* Demo child is also a child of section but we did not select it because it is not the direct child*/
section > h2 {
  background-color: pink;
}

/* General Sibling Selector */
/* <a>Not</a>
<div></div>
<a>Selected</a>
<a>Selected</a> */
/* div ~ a {
  color: red;
} select all the a after the div*/
table ~ a {
  background-color: purple;
}

/* Adjacent Sibling Selector */
/* Direct selector selects the element that comes immediately after the first element */
h3 + h4 {
  background-color: purple;
}